<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= data.name %></title>
</head>
<body>
  <h1>Data for <%= data.name %></h1>
  <pre><%= data.data %></pre>
  <a href="/collection">Back to Collection</a>
  <button onclick="Clerk.signOut()">Sign Out</button>
  <script src="https://cdn.jsdelivr.net/npm/@clerk/clerk-js@latest"></script>
</body>
</html>