<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Data</title>
</head>
<body>
  <h1>Scraped Data</h1>
  <a href="/collections.html">Back to Collection</a>
  <div>
    <h2><%= data.name %></h2>
    <pre><%= data.data %></pre>
  </div>
</body>
</html>





